<html>
  <head>
    <title>Redux TodoMVC</title>
    <link rel="stylesheet" type="text/css" href="/todolist.css" />
  </head>
  <body>
    <div class="todoapp" id="todoapp"><%-contentHtml%></div>
  </body>
  <script>
    window.__INITIAL_STATE__ =  <%-initialState%>;
  </script>
  <script src="/todolist.js"></script>
</html>
